<style type="text/css">
td
{
    padding:0 10px 0 0;
}
</style>

<h3> Brevet distance: {{ items[0] }} </h3>

<table>
    <tr>
        <td> Checkpoint </td>
        <td> </td>
        <td> Open </td>
        <td> Close </td>
    </tr>
{% for control in items[1:] %}
    <tr> 
        <td> {{ control[0] }}km </td>
        <td> {{ control[1] }} </td>
        <td> {{ control[2] }} </td>
        <td> {{ control[3] }} </td> 
    </tr>
{% endfor %}
</table>
